---
/**
 * Date Component
 *
 * @description Formats a date string according to ISO 8601 and various options.
 * @see https://en.wikipedia.org/wiki/ISO_8601
 * @see @see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date
 *
 * @param {string} dateString - The ISO 8601 date string to format. Used in `Date` and `dayjs`.
 * @param {string} [dateLabel] - A label to prefix the formatted date (e.g., "Updated at:").
 * @param {boolean} [humanize] - If true, display a relative time (e.g., "today").
 * @param {boolean} [onlyLabel] - If true, only the label is displayed without the date.
 * @param {string} [format='DD/MM/YYYY'] - The format for displaying the date using dayjs.
 * @param {Object} [humanizeOpts] - Options for customizing humanized output.
 * @param {string} [humanizeOpts.today='today'] - Text for today's date.
 * @param {string} [humanizeOpts.yesterday='yesterday'] - Text for yesterday's date.
 * @param {string} [humanizeOpts.daysAgo='days ago'] - Text for days ago.
 * @param {string} [humanizeOpts.weeksAgo='weeks ago'] - Text for weeks ago.
 * @param {string} [humanizeOpts.monthsAgo='months ago'] - Text for months ago.
 * @param {string} [class] - Additional CSS classes for the container.
 *
 * @example
 * // Display humanized date: "today"
 * <DateComponent dateString={new Date().toISOString()} humanize={true} />
 *
 * @example
 * // Display formatted date: "May/24/7"
 * <DateComponent dateString="2024-05-07" format={'MMM/YY/D'} />
 */

interface Props {
  dateString: string // used in new Date() and dayjs
  dateLabel?: string // Eg: 'Updated at:'
  format?: string
  class?: string
  humanize?: boolean
  onlyLabel?: boolean
  humanizeOpts?: {
    today?: string
    yesterday?: string
    daysAgo?: string
    weeksAgo?: string
    monthsAgo?: string
  }
}

const {
  dateString,
  dateLabel,
  format,
  class: className,
  humanize,
  onlyLabel,
  humanizeOpts,
} = Astro.props
---

<span class={className}>
  {
    !onlyLabel && (
      <date-component
        data-date-label={dateLabel}
        data-date-string={dateString}
        data-format={format}
        data-humanize={humanize}
        data-today={humanizeOpts?.today}
        data-yesterday={humanizeOpts?.yesterday}
        data-days-ago={humanizeOpts?.daysAgo}
        data-weeks-ago={humanizeOpts?.weeksAgo}
        data-months-ago={humanizeOpts?.monthsAgo}
      />
    )
  }
</span>

<script>
  import dayjs from 'dayjs'

  class DateComponent extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      const { dateLabel, dateString, format, humanize } = this.dataset
      const humanizeOpts = {
        today: this.dataset.today,
        yesterday: this.dataset.yesterday,
        daysAgo: this.dataset.daysAgo,
        weeksAgo: this.dataset.weeksAgo,
        monthsAgo: this.dataset.monthsAgo,
      }

      if (!dateString) {
        return
      }

      const date = new Date(dateString)
      const today = new Date()
      const diffTime = Math.abs(today.getTime() - date.getTime())
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
      const fullDate = dayjs(dateString).format(format || 'DD/MM/YYYY')

      let humanized = ''
      if (diffDays <= 1) {
        humanized = humanizeOpts?.today || 'today'
      } else if (diffDays <= 2) {
        humanized = humanizeOpts?.yesterday || 'yesterday'
      } else if (diffDays <= 7) {
        humanized = `${diffDays} ${humanizeOpts?.daysAgo || 'days ago'}`
      } else if (diffDays <= 13) {
        humanized = `${Math.floor(diffDays / 7)} ${humanizeOpts?.weeksAgo || 'week ago'}`
      } else if (diffDays <= 30) {
        humanized = `${Math.floor(diffDays / 7)} ${humanizeOpts?.weeksAgo || 'weeks ago'}`
      } else if (diffDays <= 59) {
        humanized = `${Math.floor(diffDays / 30)} ${humanizeOpts?.monthsAgo || 'month ago'}`
      } else if (diffDays <= 365) {
        humanized = `${Math.floor(diffDays / 30)} ${humanizeOpts?.monthsAgo || 'months ago'}`
      } else {
        humanized = fullDate
      }

      this.innerText = `${dateLabel ? dateLabel + ' ' : ''}${humanize === undefined ? fullDate : humanized}`
    }
  }

  customElements.define('date-component', DateComponent)
</script>
