---
/**
 * Base Layout Component
 *
 * This is the base layout component for the website, providing the basic
 * structure and metadata configuration for each page. It receives `metadata`
 * as a prop to set the page title and description.
 *
 * @param {Metadata} metadata - The metadata for the page, used to configure
 * the page title and description.
 * @param {string} metadata.title - The title of the page, displayed in the
 * browser tab.
 * @param {string} [metadata.description] - Optional description of the page,
 * displayed in the <meta> tag. If not provided, a default quote from the `me`
 * data file is used.
 */

import { ViewTransitions } from 'astro:transitions'
import me from '@data/me'

import Nav from '@components/nav/Nav.astro'

import '@styles/base.css'

export type Metadata = {
  title: string
  description?: string
}

interface Props {
  metadata: Metadata
}

const { metadata } = Astro.props
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metadata.description || me.quote} />
    <title>{`${metadata.title} | 刘晓飞的个人网站`}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="flex min-h-screen flex-col justify-between">
      <Nav />
      <main class="mb-auto" transition:animate="fade"><slot /></main>
    </div>
  </body>
</html>
